extend = [
  { path = "target/rust-driver-makefile.toml" },
  { path = "target/rust-driver-sample-makefile.toml" },
]

[env]
CARGO_MAKE_EXTEND_WORKSPACE_MAKEFILE = true

[config]
load_script = '''
#!@rust
//! ```cargo
//! [dependencies]
//! wdk-build = "0.4.0"
//! ```
#![allow(unused_doc_comments)]

wdk_build::cargo_make::load_rust_driver_makefile()?;
wdk_build::cargo_make::load_rust_driver_sample_makefile()?
'''
